* {
	font-family: Arial, helvetica, sans-serif;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1 {
	float: left;
}

.nav > a {
	transition: all 250ms;
	-webkit-transition: all 250ms;
	-moz-transition: all 250ms;

	cursor: pointer;
	background: #eee;
	padding: 15px;
	margin: 5px;
	border: 1px solid #aaa;
	float: right;
	border-radius: 15px;
}
.nav > a:hover {
	background: #aca;
	box-shadow: 0 0 5px 3px rgba(0,50,0,0.3);
}

.nav ul {
	clear: both;
	width: 100%;

	margin: 0;
	padding: 0;

}

.nav li {
	cursor:pointer;
	list-style-type: none;
	margin: 0;
	padding: 15px 3%;
	display:block;

	transition: background-color 350ms;
	-webkit-transition: background-color 350ms;
	-moz-transition: background-color 350ms;
}