/* hacky stuff-- just here so we can see what's going on */

/* plain old dog styles */
.dog input {
	display: block;
	float: left;
}

/* when dog is highlighted */
.highlighted.dog {
	background: yellow;
}
.highlighted.dog input {
	display: none;
}


/* Selector to pick out clickable/touchable things */
[data-framework-clickable="true"] {


	/* Disable text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;


	/* Use hand cursor */
	cursor: pointer;
}